.hqs {
    height: 600px;
}

#hqs-background {
    display: flex;
    background: #990f0f;
    height: 530px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset;
    margin-top: -4px;
}

.hqs #background_icon {
    position: absolute;
    opacity: 11%;
    z-index: 0;
}

.hqs #scroll_hqs {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-delay: 200ms;
    z-index: 1;
}

#ft_hqs {
    display: flex;
    justify-content: center;
}

.img_hq {
    opacity: 0;
    width: 26%;
    position: absolute;
    box-shadow: rgba(30, 30, 30, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.on {
    opacity: 1;
}

.hqs #scroll_hqs #buttons_hqs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

.bi-caret-left-fill,
.bi-caret-right-fill {
    display: none;
}

.bLeft:hover .bi-caret-left,
.bRight:hover .bi-caret-right {
    display: none;
}

.bLeft:hover .bi-caret-left-fill,
.bRight:hover .bi-caret-right-fill {
    display: block;
}

.bLeft .bi-caret-left,
.bRight .bi-caret-right {
    display: block;
}

.bLeft .bi-caret-left-fill,
.bRight .bi-caret-right-fill {
    display: none;
}


.hqs #describe_hqs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: 0;
}

.hqs #describe_hqs h2{
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.hqs #describe_hqs p{
    font-family: "Outfit", sans-serif;
    font-weight: 200;
    text-align: justify;
    opacity: 90%;
    transition-delay: 400ms;
}

@media (min-width: 768px) {

    .hqs #background_icon {
        width: 520px;
        left: 480px;
        margin-top: 4px;
    }

    .hqs #scroll_hqs {
        width: 415px;
        margin-left: 130px;
        margin-top: -50px;
    }

    .hqs #scroll_hqs #buttons_hqs {
        width: 530px;
        height: 20px;
        margin-top: 290px;
    }

    .hq_button {
        font-size: 55pt;
    }

    .hqs #describe_hqs {
        margin-left: 200px;
    }

    .hqs #describe_hqs h2{
        margin-top: -50px;
        line-height: 48px;
    }
    
    .hqs #describe_hqs p{
        font-size: 13pt;
        width: 440px;
        margin-top: -10px;
    }
}

@media (max-width: 768px) {

    #hqs-background{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .hqs #background_icon {
        width: 200px;
        left: 480px;
        margin-top: 4px;
    }

    .hqs #scroll_hqs {
        width: 170px;
    }

    .hqs #scroll_hqs #buttons_hqs {
        width: 220px;
        margin-top: 124px;
    }

    .hq_button {
        font-size: 21pt;
    }

    .hqs #describe_hqs h2{
        font-size: 10pt;
        width: 200px;
    }
    
    .hqs #describe_hqs p{
        font-size: 7pt;
        width: 200px;
        margin-top: -10px;
    }
}